
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Roboto+Slab:wght@700&display=swap');

#name {
  /* font-family: 'Yellowtail', cursive; */
  /* font-family: 'Caveat', cursive; */
  font-family: 'Roboto Slab', serif;
  font-size: 2.3rem;
  color: #3a375a;
  padding-bottom: 20%;
}

.sidebar {
  margin: 0;
  padding-top: 10%;
  width: 200px;
  background-color: #f1f1f1;
  /* background-color: #555; */
  position: fixed;
  height: 100%;
  overflow: auto;
  color: #4a4a6c
}

/* Sidebar links */
.sidebar a {
  color: gray;
  display: block;
  padding: 16px;
  text-decoration: none;
}
.social a {
  display: inline-block;
  font-size: 1.7rem;
}

/* Links on mouse-over */
.sidebar a:hover{
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 80%;
    padding-top: 0%;
  }
  .sidebar a {
    /* float: left;  */
    display: inline-block;
  }
  .social {
    display: inline;
  }
  #content {
    margin-left: 0;
   }
  #profile {
    display: none;
  }
  .footer { display: none;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  
}